<div class="@($"alert alert-{Style.ToString().ToLower()}")" role="alert">
    @ChildContent
</div>

@code{
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public AlertStyle Style { get; set; }

    public enum AlertStyle
    {
        Primary,
        Secondary,
        success,
        Danger,
        Warning,
        Info,
        Light,
        Dark
    }
}