<div class="@($"alert alert-{Style.ToString()}")" role="alert">
    @ChildContent
</div>

@code{
    public RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public AlertStyle Style { get; set; }

    public enum AlertStyle
    {
        primary,
        secondary,
        success,
        danger,
        warning,
        info,
        light,
        dark
    }
}